table {
  border-collapse: collapse;
  width: 50%;  
}  
td,th{ 
  
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

img {
  width: 30px;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}